<div class="container">
    <div class="row">
        <div class="col-md-6">
            <app-common-drp [configuration]="configuration" [getSelectedItem]="selecteddData"
                  (selectedOut)="getData1($event)"></app-common-drp>
        </div>
        
        
        <div class="col-md-6">
            <!-- [setDisabledControl]="true"  -->
            <app-common-drp [configuration]="configuration2" [getSelectedItem]="selecteddData2"
              (selectedOut)="getData2($event)"></app-common-drp>
        </div>
    </div>
</div>